[submodule "Bootcampers/Kalpitha_S_V/Session03/BRB-Staking/lib/forge-std"]
	path = Bootcampers/Kalpitha_S_V/Session03/BRB-Staking/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Bootcampers/Kalpitha_S_V/Session03/BRB-Staking/lib/openzeppelin-contracts"]
	path = Bootcampers/Kalpitha_S_V/Session03/BRB-Staking/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
