[submodule "Assignments/Session03/brbStakingContract/lib/forge-std"]
	path = Assignments/Session03/brbStakingContract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Assignments/Session03/brbStakingContract/lib/openzeppelin-contracts"]
	path = Assignments/Session03/brbStakingContract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
