.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px ;
    border: none;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    transition: 0.2s;
}

.button:hover{
    transform: scale(0.975);
    cursor: pointer;
}

.button:active{
    animation: popIn90 0.2s ease;
}

.dark{
    background-color: #252525;
    color: #dadada;
}

@keyframes popIn90 {
    90% {
      transform: scale(0.90);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}